.cart-container{
    height: 1000px;
    width: 100%;
    .example-sidenav{
        width: 400px;
    }
}
mat-drawer-container{
    background-color: white;
    width: 1000px;
}


.example-sidenav-content{
    background-color: white;
}

.total{
    padding: 0 16px;
    position: absolute;
    bottom: 0;
}
.order{
    padding: 0 16px;
    position: absolute;
    bottom: 0;
    right: 5px;
    cursor: pointer;
    color: blue;
}

.cart-content{
    padding: 0 80px;
}

.cart-header{
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.remove-items{
    cursor: pointer;
}

mat-icon{
    cursor: pointer;
}

