/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    h1{
        text-align: center;
    }
}

.active {
    color: white;
    font-style: italic;
    font-weight: bold;
}